Painelshark/
app/deploy.zip
app/temp_deploy/
build.zip
tmp_*.sh

# Laravel
app/.env
app/vendor/
app/node_modules/
app/public/hot
app/public/storage
app/storage/*.key
app/bootstrap/cache/*.php

# Docker local
docker-compose.override.yml

# Logs e temporários
*.log
.DS_Store
Thumbs.db
